.search-form {
    position: fixed;
    left: calc(50vw - 150px);


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid grey;
   
    backdrop-filter: blur(3px);
    width: 300px;
    height: 40px;
    z-index: 3;
 
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.4, 1);
}

input {
    border: 1px solid grey;

    border-radius: 6px;
    height: 20px;
    padding: 0 5px 0 5px;
}

button {
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 6px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.4, 1);
}

.changeBackForm {
    background-color: rgb(173, 216, 230, 0.35);
}

.changeBackBut {
    background-color: white;
}

.gallery {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    padding: 60px 20px 20px 20px;
    row-gap: 20px;
    column-gap: auto;
}

.photo-card {
    display: flex;
    flex-direction: column;

    width: calc((100% - 80px) / 4);
    height: auto;
    padding: 5px;

    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    padding: 5px;
    gap: auto;
    height: 60px;

    background-color: rgb(173, 216, 230, 0.5);

}

.info-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

/* .info-item {
   display: flex;
    flex-direction: row;
    justify-content: center;
} */

img {
    max-width: 100%;
    aspect-ratio: 4 / 3;
}